@page
@model MultiTenant.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Tenant.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
